/* Configuration generale */
:root{
    --primary-color: #2563eb;
    --secondary-color: #1e293b;
    --accent-color: #3b82f6;
    --bg-light: #f8fafc;
    --text-dark: #334155;
    --white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto, Helvetica, Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: var(--text-dark);
    background-color: #fff;
    scroll-behavior: smooth;
}

/* Barre de navigation */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background: var(--white);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0, 1);
    top: 0;
    z-index: 1000;
}

.logo{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--secondary-color);
}

.logo span{
    color: var(--primary-color);
}

.nav-links{
    display:flex;
    list-style: none;
    gap: 1rem;
}

.nav-links li a{
    text-decoration: none;
    color: var(--text-dark);
    margin-left: 2ren;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links li a:hover{
    color: var(--primary-color);
}

/* Hero section */
.hero{
    background: linear-gradient(rgba(30, 41, 59, 0.8), rgba(30, 41, 59,0.8)),url('https://images.unplash.com/photo-1509228468518-180dd482180c?q=80&w=2070') center/cover;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    text-align: center;
    padding: 0 20px;
}

.hero-content h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.btn-primary{
    display: inline-block;
    background: var(--primary-color);
    text-decoration: none;
    color: var(--white);
    padding: o.8rem 2rem;
    border-radius: 5px;
    margin-top: 1.5rem;
    border: none;
    cursor: pointer;
    transition: backgrond 0.3s;
}

.btn-primary:hover{
    color: var(--accent-color);
}

/* Section */
.section{
    padding: 80px 5%;
}

.section-title{
    text-align: center;

    margin-bottom: 3rem;
    position: relative;
}

.section-title::after{
    display: block;
    width: 50px;
    height: 5px;
    background: var(--primary-color);
    margin: 10px auto;
}

/* Grille */
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.card-info{
    text-align: center;
    padding: 2rem;
    background: var(--white);
    border-radius: 10px;
}

.container h2{
    text-align: center;
}

.container h2{
    font-size: 2.2rem;    
}
.contact-wraper{
    align-items: left;
}

.mail{
    text-decoration: none;
}
.github{
    text-decoration: none;
}
.mail:hover{
    color: var(--primary-color)
}
.github:hover{
    color: var(--primary-color);
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form input, .contact-form textarea{
    padding: 0.5rem;
    border: 1rem solid var(--text-dark);
}
.para{
    padding: 1.5rem;
    text-align: left;
    font-size: 1.5rem;
}

button{
    width: 200px;
}
footer{
    text-align: center;
    padding: 1.5rem;
    background: #222;
    margin-top: 2rem;
}

/* responsive design */
@m